<p style="color: green"><%= notice %></p>

<%= render @membership %>

<div>
  <%= link_to "Edit this membership", edit_membership_path(@membership) %> |
  <%= link_to "Back to beer clubs", beer_clubs_path %>

  <%= button_to "Destroy this membership", @membership, method: :delete %>
</div>
