<h1>Beer clubs</h1>

<table class="table table-striped  table-hover">
  <thead>
    <tr>
      <th><%= link_to "Name", beer_clubs_path(order: "name")%></th>
      <th><%= link_to "City", beer_clubs_path(order: "city")%></th>
      <th><%= link_to "Established", beer_clubs_path(order: "founded")%></th>
    </tr>
  </thead>
   <% @beer_clubs.each do |club| %>
   <tr>
     <td><%= link_to club.name, club %></td>
     <td><%= club.city %></td>
     <td><%= club.founded %></td>
   </tr>
 <% end %>
</table>

<%= link_to('New Beer club', new_beer_club_path, class:'btn btn-primary') if current_user %>
