<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="string" class="form-control" id=<%= form.text_field :username %>
      </div>
  <% end %>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id=<%= form.password_field :password %>
      </div>
      <div class="mb-3">
        <label class="form-label">Password confirmation</label>
        <input type="password" class="form-control" id=<%= form.password_field :password_confirmation %>
      </div>
      <button class="btn btn-primary", type=<%= form.submit %>Submit</button>
    </form>
<% end %>
