<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.new_record? %>
    <div class="form-group">
      <%= form.label :username, "Name:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= form.text_field :username, class: "form-control" %>
      </div>
    </div>
  <% end %>
    <div class="form-group">
      <%= form.label :password, "Password", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= form.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, "Password confirmation", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <%= form.hidden_field :active, value: true %>
    <br>
    <%= form.submit "Submit", class: "btn btn-default btn-primary" %> 
<% end %>
