<h2>Create new rating</h2>

<%= form_for(@rating) do |f| %>
    <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="mb-3">
      <label class="form-label">Beer</label>
      <select <%= f.collection_select :beer_id, @beers, :id, :name, selected: @rating.beer_id %>
    </div>
    <div class="mb-3">
      <label class="form-label">Score</label>
       <%= f.number_field :score %>
    </div>
    <button class="btn btn-primary" type=<%= f.submit %>Create Rating</button>
  </form>
<% end %>
