<%= turbo_frame_tag status do %>
  <div>
    <% header = status == "active" ? "Active" : "Retired"%>
    <h3><%= header %></h3>
    <%= render "list_headers", status: status, count: status == "active" ? Brewery.active.count : Brewery.retired.count %>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
      <th>Name</th>
      <th>Founded</th>
      <th>Beers</th>
      <th>Rating</th>
      <th>Activity</th>
      </thead>
      <tbody id="<%= status %>_brewery_rows">
      <% @breweries.each do |brewery| %>
        <%= render "brewery_row", brewery: brewery %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>