<h1>Breweries</h1>

<p>Number of active breweries: <%= @active_breweries.count %><p>

<div>
<table class="table table-striped">
 <thead>
   <th>Name</th>
   <th>Eshtablished</th>
   <th>Activity</th>
 </thead>
 <% @active_breweries.each do |brewery| %>
   <tr>
     <td><%= link_to brewery.name, brewery %></td>
     <td><%= brewery.year %></td>
     <% if brewery.active  %>
    <td><span class="badge bg-success">active</span></td>
    <% else %>
    <td><span class="badge bg-secondary">retired</span></td>
  <% end %>
   </tr>
 <% end %>
</table>
</div>

<p>Number of retired breweries: <%= @retired_breweries.count %><p>

<div>
<table class="table table-striped">
 <thead>
   <th>Name</th>
   <th>Eshtablished</th>
   <th>Activity</th>
 </thead>
 <% @retired_breweries.each do |brewery| %>
   <tr>
     <td><%= link_to brewery.name, brewery %></td>
     <td><%= brewery.year %></td>
     <% if brewery.active  %>
    <td><span class="badge bg-success">active</span></td>
    <% else %>
    <td><span class="badge bg-secondary">retired</span></td>
  <% end %>
   </tr>
 <% end %>
</table>
</div>

<%= link_to('New Brewery', new_brewery_path, class:'btn btn-primary') if current_user %>
