<p style="color: green"><%= notice %></p>

<%= render @brewery %>

<div>
  <p><%= link_to "Edit this brewery", edit_brewery_path(@brewery) if current_user%></p>
  <p><%= button_to "Destroy this brewery", @brewery, method: :delete if current_user%></p>

 <p><%= link_to "Back to breweries", breweries_path %></p>
</div>
