<% cache @beer do %>

  <h3>
    <%= @beer.name %>
  </h3>
  <p>
    <%= @beer.style.name %>
  </p>

  <p>
    <%= link_to "#{@beer.brewery.name}", @beer.brewery %>
  </p>

  <p>
    <% if @beer.ratings.empty? %>
      beer has not yet been rated
    <% else %>
      Beer has <%= pluralize(@beer.ratings.count, "rating") %>
      with an average of <%= @beer.average_rating %>
  <% end %>
  </p>
<% end %>

<% if current_user%>

  <h4>give a rating:</h4>

    <%= form_with(model: @rating) do |form| %>
      <%= form.hidden_field :beer_id %>
      <p>score: <%= form.number_field :score %></p>
      <p><%= form.submit "Create rating" %></p>
    <% end %>
<% end %>

<div>
  <p><%= edit_and_destroy_buttons(@beer) %></p>
  <p><%= link_to "Back to beers", beers_path %></p>
</div>
