<%= render @beer %>

<% if current_user%>

  <h4>give a rating:</h4>

    <%= form_with(model: @rating) do |form| %>
      <%= form.hidden_field :beer_id %>
      <p>score: <%= form.number_field :score %></p>
      <p><%= form.submit "Create rating" %></p>
    <% end %>
<% end %>

<div>
  <%= edit_and_destroy_buttons(@beer) %>
  <p><%= link_to "Back to beers", beers_path %></p>
</div>
