<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  <p>city <%= form.text_field :city %>
  <%= form.submit "Search" %></p>
<% end %>

<% if @places %>
  <p><strong>The current weather in <%= session[:search_city] %></strong></p>
  <p><%= @weather["temperature"]%> Celsius</p>
  <p><img src=<%=@weather["weather_icons"][0]%>></p>
  <p><strong>wind</strong> <%= @weather["wind_speed"]%>, direction: <%=@weather["wind_dir"]%></p>

  <table class="table table-hover">
 <thead>
   <th>id</th>
   <th>name</th>
   <th>status</th>
   <th>street</th>
   <th>city</th>
   <th>zip</th>
   <th>country</th>
   <th>overall</th>
 </thead>
 <% @places.each do |place| %>
   <tr>
     <td><%= place.id %></td>
     <td><%= link_to place.name, place_path(place.id) %></td>
     <td><%= place.status %></td>
     <td><%= place.street %></td>
     <td><%= place.city %></td>
     <td><%= place.zip %></td>
     <td><%= place.country %></td>
     <td><%= place.overall %></td>
   </tr>
 <% end %>
</table>
<% end %>